<a href="https://colab.research.google.com/github/AdityaGupta150/train-ml/blob/master/AdityaGupta150_2020-09-28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  GRAY INTERFACE 

## HackSlash

----

# NumPy

## Exercise 1: Creating Numpy arrays

----

#### Write & Run CODE to answer each of the given problem statement.
##### Note that Sample Output of the problem statement is also given for reference.

----

## Import numpy

In [2]:
import numpy as np

## Create Numpy arrays from Python list

#### Create Numpy 1d array from list

`array([1, 2, 3])`

In [4]:
list_1d = [1,2,3]

In [5]:
np.array(list_1d)

array([1, 2, 3])

#### Create Numpy 2d array from list

`array([[1, 2, 3],
       [4, 5, 6]])`

In [6]:
list_2d = [[1,2,3], [4,5,6]]

In [7]:
np.array(list_2d)

array([[1, 2, 3],
       [4, 5, 6]])

#### Create Numpy 3d array from list

`array([[[1, 2, 3],
        [4, 5, 6]],
       [[1, 2, 3],
        [4, 5, 6]]])`

In [8]:
list_3d = [[[1,2,3],[4,5,6]], [[1,2,3],[4,5,6]]]

In [9]:
np.array(list_3d)

array([[[1, 2, 3],
        [4, 5, 6]],

       [[1, 2, 3],
        [4, 5, 6]]])

-----

## Create Numpy arrays using functions

#### Create a Numpy 1d array of 10 zeros 

 `array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.])`

In [11]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

#### Create a Numpy 1d array of 10 ones

`array([ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])`

In [12]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

#### Create a Numpy 1d array of 10 fives

`array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])`

In [13]:
np.full(10, 5)

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

#### Create a Numpy 1d array consisting of all the integers from 10 to 50

`array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])`

In [14]:
np.arange(10,51)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49, 50])

#### Create a Numpy 1d array consisting of all the even integers only from 10 to 50

`array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])`

In [15]:
np.arange(10,51,2)

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42,
       44, 46, 48, 50])

#### Create a Numpy 2d array with shape (3,3) having all entries as 1

`array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])`

In [16]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

#### Create a Numpy 2d array with shape (10,10) having all diagonal entries as 1 and all others as 0

`array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])`

In [17]:
np.eye(10)

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

#### Create a Numpy 2d array with shape (5,6) consisting of values ranging from 1 to 30

`array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30]])`

In [18]:
np.reshape(np.arange(1,31), (5,-1))

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30]])

#### Create a Numpy 1d array consisting of a random number between 0 and 1

`array([0.42829726])`

In [26]:
np.random.rand(1)

array([0.59879603])

#### Create a Numpy 1d array consisting of six *random* numbers between 0 and 1

`array([0.48986417, 0.61869789, 0.83943457, 0.94889576, 0.79561515, 0.28859058])`

In [27]:
np.random.rand(6)

array([0.0051602 , 0.02169146, 0.83501298, 0.07724024, 0.67659571,
       0.80885702])

#### Create a Numpy 2d array of shape (2,3) consisting of six *random* numbers between 0 and 1

`array([[0.3991418 , 0.62631826, 0.82763635],
       [0.9232742 , 0.08517427, 0.20155819]])`

In [28]:
np.random.rand(2,3)

array([[0.20005924, 0.55005636, 0.77740671],
       [0.7735104 , 0.84647261, 0.44530282]])

#### Create a Numpy 1d array consisting of 25 random numbers sampled from a *Standard Normal Distribution*

`array([-0.01804177, -0.11468092, -0.4790744 , -0.44706856,  0.49891779,
        1.53806364, -1.03689237,  0.04379123, -0.6659274 , -0.54294319,
       -0.08016372, -0.64441992, -0.12417271,  0.89901988, -0.08695241,
        0.23540321,  1.77803936,  1.39912268,  0.19886053, -0.56546787,
        0.09538678, -0.47930312,  2.15532489,  0.62643712,  1.19941788])`

In [29]:
np.random.normal(0,1,25)

array([ 0.30563527, -0.59696767,  0.28172541, -1.43433124, -0.48653841,
       -0.46267139,  0.95424021,  0.26606477, -0.53551958, -0.92083108,
        0.01747678, -0.71896508,  0.23049256,  2.03335746,  1.09170476,
       -0.05097123,  0.50675558,  0.88520865, -1.68092079, -0.25353526,
        0.33533047,  0.40926233,  0.85225551,  0.43911967, -0.14269767])

#### Generate a *random* integer between 1 and 50

`32`

In [30]:
np.random.randint(1,50)

2

#### Create a Numpy 1d array consisting of five *random* integers between 1 and 50

`array([36, 30, 32, 14,  2])`

In [31]:
np.random.randint(1,51,5)

array([19, 24, 20, 35, 12])

#### Create a Numpy array consisting of 20 linearly spaced points between 0 and 1

`array([ 0.        ,  0.05263158,  0.10526316,  0.15789474,  0.21052632,
        0.26315789,  0.31578947,  0.36842105,  0.42105263,  0.47368421,
        0.52631579,  0.57894737,  0.63157895,  0.68421053,  0.73684211,
        0.78947368,  0.84210526,  0.89473684,  0.94736842,  1.        ])`

In [32]:
np.linspace(0,1,20)

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

#### Create the following Numpy 2d array:

`array([[ 0.01,  0.02,  0.03,  0.04,  0.05,  0.06,  0.07,  0.08,  0.09,  0.1 ],
       [ 0.11,  0.12,  0.13,  0.14,  0.15,  0.16,  0.17,  0.18,  0.19,  0.2 ],
       [ 0.21,  0.22,  0.23,  0.24,  0.25,  0.26,  0.27,  0.28,  0.29,  0.3 ],
       [ 0.31,  0.32,  0.33,  0.34,  0.35,  0.36,  0.37,  0.38,  0.39,  0.4 ],
       [ 0.41,  0.42,  0.43,  0.44,  0.45,  0.46,  0.47,  0.48,  0.49,  0.5 ],
       [ 0.51,  0.52,  0.53,  0.54,  0.55,  0.56,  0.57,  0.58,  0.59,  0.6 ],
       [ 0.61,  0.62,  0.63,  0.64,  0.65,  0.66,  0.67,  0.68,  0.69,  0.7 ],
       [ 0.71,  0.72,  0.73,  0.74,  0.75,  0.76,  0.77,  0.78,  0.79,  0.8 ],
       [ 0.81,  0.82,  0.83,  0.84,  0.85,  0.86,  0.87,  0.88,  0.89,  0.9 ],
       [ 0.91,  0.92,  0.93,  0.94,  0.95,  0.96,  0.97,  0.98,  0.99,  1.  ]])`

In [33]:
np.arange(0.01,1.01, 0.01)

array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11,
       0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21, 0.22,
       0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32, 0.33,
       0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43, 0.44,
       0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54, 0.55,
       0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65, 0.66,
       0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77,
       0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88,
       0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99,
       1.  ])

-----

# Great Job!